@using Blazor.Wasm.ControlSystem.Shared;

@*
    Checklist of operations
*@

<style>
    .container {
        padding: 12px;
    }

    .td-label {
        /*min-width:260px;*/
    }

    .td-field {
        padding-left: 72px;
        padding-top: 12px;
    }

    .text-field {
        width: 280px;
    }
</style>

<div class="container">
    <EditForm Model="@Operations">
        @*EditContext="@EditContext"*@
        <DataAnnotationsValidator />
        <table>
            @foreach (var operation in Operations)
            {
                <tr>
                    <td class="td-label">@operation.Label</td>
                    <td class="td-field">
                        @*<InputText id="identifier" @bind-Value="@operation.Value" />*@
                        <MatTextField Class="text-field" Label="@operation.Hint" @bind-Value="@operation.Value"></MatTextField>
                        <ValidationMessage For="@(() => operation.Value)" />
                    </td>
                </tr>
            }
        </table>

        <button type="submit">Submit</button>
    </EditForm>
</div>


@code {

    public EditContext EditContext;

    [Parameter]
    public ICollection<Operation> Operations { get; set; }

    //protected override void OnInitialized()
    //{
    //    // Force evaluation on init
    //    EditContext = new EditContext(Operations);
    //    //EditContext.Validate();

    //    base.OnInitialized();
    //}

}
