@inherits LayoutComponentBase
@using Blazor.Wasm.ControlSystem.Shared

@*
    Main layout that wraps the router body content
*@

<style>

    .mdc-top-app-bar__row {
        height: 64px;
    }

    .sidebar {
        background: #FFFFFF;
    }

    .background_Light {
        background: #F1F1F1;
    }

    .Content_Light {
        background: #F1F1F1;
    }

    .Menu_Light {
        background: #FDFDFD;
    }

    .Background_Dark {
        background: #212121;
    }

    .Content_Dark {
        background: #424242;
    }

    .Menu_Dark {
        background: #303030;
    }

    .mdc-list-item {
        height: 72px;
        margin: 0px;
    }

    .mat-list-bottom {
        position: absolute;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }

    .icon-floating {
        position: absolute;
        right: 36px;
        bottom: 36px;
    }

    .menu {
        background: #F1F1F1;
        width: 68px;
        position: fixed;
        bottom: 0;
        top: 0;
        margin-top: 64px;
        z-index: 1;
    }

    .content {
        padding-left: 68px;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        padding-top: 62px;
    }

    /*small screen size*/
    @@media (max-width: 599px) {
        .menu {
            visibility: hidden;
            width: 0px;
        }

        .content {
            padding-left: 0px;
        }
    }
</style>

<MatDrawerContainer Style="width: 100vw; height: 100vh;">
    <MatDrawer Class="sidebar" @bind-Opened="@NavOpened" Mode="@MatDrawerMode.Modal">
        <NavMenu OnClick="@MenuClicked" SettingsClickAction="@(() => SettingsClick(null))" />
    </MatDrawer>
    <MatDrawerContent>
        <MatAppBarContainer>
            <MatAppBar Fixed="true">
                <div class="mat-elevation-z3">
                    <MatAppBarRow>
                        <MatAppBarSection>
                            <MatIconButton Icon="menu" OnClick="@MenuClicked"></MatIconButton>
                            <img height="38" width="38" style="padding-left: 16px;" src="https://cdn.iconscout.com/icon/free/png-512/bmw-5-202750.png" />
                            <MatAppBarTitle>Factory Control Station</MatAppBarTitle>
                        </MatAppBarSection>
                        <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                            <MatIconButton Icon="account_circle" OnClick="@ProfileClick" @ref="accountbutton"></MatIconButton>
                        </MatAppBarSection>
                    </MatAppBarRow>
                </div>
            </MatAppBar>

            <MatAppBarContent>
                <div class="menu mat-elevation-z3">
                    <MatList>
                        <MatListItem href="">
                            <MatTooltip Tooltip="Process" Position="@MatTooltipPosition.Bottom">
                                <MatIcon RefBack="@context" Class="icon-color" Style="margin:auto;" Icon="format_list_numbered"></MatIcon>
                            </MatTooltip>
                        </MatListItem>
                        <MatListItem href="instruction">
                            <MatTooltip Tooltip="Instruction" Position="@MatTooltipPosition.Bottom">
                                <MatIcon RefBack="@context" Class="icon-color" Style="margin:auto;" Icon="picture_as_pdf"></MatIcon>
                            </MatTooltip>
                        </MatListItem>
                        <MatListItem href="performance">
                            <MatTooltip Tooltip="Performance" Position="@MatTooltipPosition.Bottom">
                                <MatIcon RefBack="@context" Class="icon-color" Style="margin:auto;" Icon="assessment"></MatIcon>
                            </MatTooltip>
                        </MatListItem>
                        <MatListItem href="interactive">
                            @*<NavLink class="nav-link" href="interactive">*@
                            <MatTooltip Tooltip="Interactive" Position="@MatTooltipPosition.Bottom">
                                <MatIcon RefBack="@context" Class="icon-color" Style="margin:auto;" Icon="3d_rotation"></MatIcon>
                            </MatTooltip>
                            @*</NavLink>*@
                        </MatListItem>
                        <MatListItem class="mat-list-bottom" @onclick="@SettingsClick">
                            <MatTooltip Tooltip="Settings" Position="@MatTooltipPosition.Top">
                                <MatIcon RefBack="@context" Class="icon-color" Style="margin:auto;" Icon="settings"></MatIcon>
                            </MatTooltip>
                        </MatListItem>
                    </MatList>
                </div>
                <div class="content">
                    @Body

                    <MatFAB Class="icon-floating" Icon="@MatIconNames.Local_shipping" @onclick="@ProductsClick"></MatFAB>
                </div>
            </MatAppBarContent>

        </MatAppBarContainer>
    </MatDrawerContent>
</MatDrawerContainer>

<MatMenu @ref="Menu">
    <MatList>
        <MatListItem @onclick="@AccountClick">Account</MatListItem>
        <MatListItem @onclick="@LogoutClicked">Logout</MatListItem>
    </MatList>
</MatMenu>

<MatDialog @bind-IsOpen="@settingsDialogIsOpen">
    <MatDialogTitle>Settings</MatDialogTitle>
    <MatDialogContent>
        <SettingsDialog />
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { settingsDialogIsOpen = false; })">OK</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@accountDialogIsOpen">
    <MatDialogTitle>Hi, Jeff Barnard</MatDialogTitle>
    <MatDialogContent>
        <AccountDialog />
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { accountDialogIsOpen = false; })">OK</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@productsDialogIsOpen">
    <MatDialogTitle>Available Products</MatDialogTitle>
    <MatDialogContent>
        <ProductsDialog />
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@CloseProductDialog">OK</MatButton>
    </MatDialogActions>
</MatDialog>

@code {

    public bool NavOpened { get; set; }
    bool accountDialogIsOpen = false;
    bool settingsDialogIsOpen = false;
    bool productsDialogIsOpen = false;

    [Inject]
    StepController StepController { get; set; }

    [Inject]
    protected IMatToaster Toaster { get; set; }

    public void MenuClicked()
    {
        NavOpened = !NavOpened;
    }

    MatIconButton accountbutton;
    BaseMatMenu Menu;

    public void ProfileClick(MouseEventArgs e)
    {
        this.Menu.OpenAsync(accountbutton.Ref);
    }

    public void SettingsClick(MouseEventArgs e)
    {
        settingsDialogIsOpen = true;
    }

    public void AccountClick(MouseEventArgs e)
    {
        accountDialogIsOpen = true;
    }

    public void ProductsClick(MouseEventArgs e)
    {
        productsDialogIsOpen = true;
    }

    public void LogoutClicked()
    {
        Toaster.Add("Logging out shortly", MatToastType.Info);
    }

    public void CloseProductDialog()
    {
        productsDialogIsOpen = false;

        StepController.Initialize("Street");
        //this.StateHasChanged();
    }

}
